.App {
  text-align: center;
}

.country {
  font-size: 80px;
  flex: 1;
  justify-content: center;
}

.teambox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  font-size: 200px;
}

.team1 {
  background-color: rgba(20, 97, 148, .7);
}

.team2 {
  background-color: rgba(221, 220, 71, .7);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 120px 0px;
}

.grows {
    animation-name: grow;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes grow {
    0% { font-size: 200 }
    100% { font-size: 800px }
}