.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.teams {
  height: 200px;
}

.timer {
  color: #DEDC47;
}

.teams input {
  font-family: 'Exo 2', sans-serif;
  background: none;
  border:none;
  outline: none;
  text-align: center;
  width: 300px;
  color: white;
  font-size: 80px;
  flex: 1;
  justify-content: center;
}

.teambox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  font-size: 200px;
}

.team1 {
  background-color: rgba(20, 97, 148, .7);
}

.team2 {
  background-color: rgba(221, 220, 71, .7);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.score {
  margin: 16px 0;
  align-items: flex-start;
}

.grows {
    animation-name: grow;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.restart {
  font-size: 18px;
  cursor: pointer;
  cursor: hand;
}

@keyframes grow {
    0% { font-size: 200px }
    50% { font-size: 600px}
    100% { font-size: 200px }
}

.status {
  margin: 32px auto;
  width: 200px;
  padding-left: 40px;
  line-height: 30px;
}

.on {
  background: url(assets/on.svg) no-repeat;
  background-size: 30px 30px;
}

.off {
  background: url(assets/off.svg) no-repeat;
  background-size: 30px 30px;
}