@import url('https://fonts.googleapis.com/css?family=Exo+2');

html, #root {
  margin: 0;
  height: 100%;
}

body {
  background-color: #041D2D;
  background-image: url(assets/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  height: 100%;
}
