@import url('https://fonts.googleapis.com/css?family=Exo+2');

body {
  background: url(../background.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: 'Exo 2', sans-serif;
}
